.DS_Store
Thumbs.db

.idea/
.vscode/

target/
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
tfplan
tfplan.txt
tfplan.json
tfplan.sanitized.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
